<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdmu.mapper.AdminUserMapper">

    <!-- 根据用户名查询管理员用户 -->
    <select id="findByUsername" resultType="com.gdmu.entity.AdminUser">
        select *
        from admin_users
        where username = #{username}
    </select>

    <!-- 插入管理员用户 -->
    <insert id="insert" parameterType="com.gdmu.entity.AdminUser">
        insert into admin_users (username, password, name, phone, role, admin_level, department, create_time, update_time, status)
        values (#{username}, #{password}, #{name}, #{phone}, #{role}, #{adminLevel}, #{department}, #{createTime}, #{updateTime}, #{status})
    </insert>

    <!-- 根据ID查询管理员用户 -->
    <select id="findById" resultType="com.gdmu.entity.AdminUser">
        select *
        from admin_users
        where id = #{id}
    </select>

    <!-- 更新管理员用户信息 -->
    <update id="update" parameterType="com.gdmu.entity.AdminUser">
        update admin_users
        set username    = #{username},
            password    = #{password},
            phone       = #{phone},
            admin_level = #{adminLevel}
        where id = #{id}
    </update>

    <!-- 查询所有管理员用户 -->
    <select id="findAll" resultType="com.gdmu.entity.AdminUser">
        select *
        from admin_users
    </select>
    
    <!-- 根据ID列表查询管理员用户 -->
    <select id="selectByIds" parameterType="java.util.List" resultType="com.gdmu.entity.AdminUser">
        select *
        from admin_users
        where id in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>