<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdmu.mapper.PositionCategoryMapper">
    
    <resultMap id="PositionCategoryResultMap" type="com.gdmu.entity.PositionCategory">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="description" column="description" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
        <result property="positionCount" column="position_count" />
    </resultMap>
    
    <insert id="insert" parameterType="com.gdmu.entity.PositionCategory" useGeneratedKeys="true" keyProperty="id">
        insert into position_category (name, description, create_time, update_time, position_count)
        values (#{name}, #{description}, #{createTime}, #{updateTime}, #{positionCount})
    </insert>
    
    <select id="findById" resultMap="PositionCategoryResultMap">
        select * from position_category where id = #{id}
    </select>
    
    <select id="findAll" resultMap="PositionCategoryResultMap">
        select * from position_category order by create_time desc
    </select>
    
    <select id="list" resultMap="PositionCategoryResultMap">
        select * from position_category
        <where>
            <if test="name != null and name != ''">
                name like concat('%', #{name}, '%')
            </if>
        </where>
        order by create_time desc
    </select>
    
    <update id="update" parameterType="com.gdmu.entity.PositionCategory">
        update position_category
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="positionCount != null">
                position_count = #{positionCount},
            </if>
        </set>
        where id = #{id}
    </update>
    
    <delete id="deleteById">
        delete from position_category where id = #{id}
    </delete>
    
    <select id="count" resultType="java.lang.Long">
        select count(*) from position_category
    </select>
    
    <select id="getPositionCountByCategoryId" resultType="java.lang.Integer">
        select count(*) from position where category_id = #{categoryId}
    </select>
    
    <update id="updateCategoryPositionCount">
        update position_category set position_count = #{positionCount} where id = #{id}
    </update>
</mapper>
